HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### JTE ###
/jte-classes/
src/main/java/com/example/movieassistant/config/openJdk-25/bin/awt.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/extnet.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/fontmanager.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/freetype.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/java.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/jimage.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/management.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/management_ext.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/msvcp140.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/net.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/nio.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/server/jvm.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/splashscreen.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/vcruntime140.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/vcruntime140_1.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/verify.dll
src/main/java/com/example/movieassistant/config/openJdk-25/bin/zip.dll
src/main/java/com/example/movieassistant/config/openJdk-25/lib/jrt-fs.jar
src/main/java/com/example/movieassistant/config/openJdk-25/lib/modules
